[submodule "Sem-3-Lab-1"]
	path = Sem-3-Lab-1
	url = https://github.com/ShuvVa/Sem-3-Lab-1.git
[submodule "Sem-3-Lab-1-C_Sharp"]
	path = Sem-3-Lab-1-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-1-C_Sharp.git
