[submodule "Sem-3-Lab-1"]
	path = Sem-3-Lab-1
	url = https://github.com/ShuvVa/Sem-3-Lab-1.git
[submodule "Sem-3-Lab-1-C_Sharp"]
	path = Sem-3-Lab-1-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-1-C_Sharp.git
[submodule "Sem-3-Lab-2"]
	path = Sem-3-Lab-2
	url = https://github.com/ShuvVa/Sem-3-Lab-2.git
[submodule "Sem-3-Lab-3"]
	path = Sem-3-Lab-3
	url = https://github.com/ShuvVa/Sem-3-Lab-3.git
[submodule "Sem-3-Lab-3-C_Sharp"]
	path = Sem-3-Lab-3-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-3-C_Sharp.git
[submodule "Sem-3-Lab-4"]
	path = Sem-3-Lab-4
	url = https://github.com/ShuvVa/Sem-3-Lab-4.git
[submodule "Sem-3-Lab-4-C_Sharp"]
	path = Sem-3-Lab-4-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-4-C_Sharp.git
[submodule "Sem-3-Lab-5"]
	path = Sem-3-Lab-5
	url = https://github.com/ShuvVa/Sem-3-Lab-5.git
[submodule "Sem-3-Lab-5-C_Sharp"]
	path = Sem-3-Lab-5-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-5-C_Sharp.git
[submodule "Sem-3-Lab-6"]
	path = Sem-3-Lab-6
	url = https://github.com/ShuvVa/Sem-3-Lab-4.git
	branch = Sem-3-Lab-6
[submodule "Sem-3-Lab-6-C_Sharp"]
	path = Sem-3-Lab-6-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-4-C_Sharp.git
	branch = Sem-3-Lab-6-C_Sharp
[submodule "Sem-3-Lab-7-C_Plus_Plus"]
	path = Sem-3-Lab-7-C_Plus_Plus
	url = https://github.com/ShuvVa/Sem-3-Lab-7-C_Plus_Plus.git
[submodule "Sem-3-Lab-8-C_Sharp"]
	path = Sem-3-Lab-8-C_Sharp
	url = https://github.com/ShuvVa/Sem-3-Lab-8-C_Sharp.git
[submodule "Sem-3-Lab-8-QT"]
	path = Sem-3-Lab-8-QT
	url = https://github.com/ShuvVa/Sem-3-Lab-8-QT.git
